.wrapper{
    display: grid;
    grid-template-areas:"i n l";
    grid-template-columns: 150px 200px 100px;
}

.i{
    grid-area: i;
}

.img{
    width: 100px;
    height: 100px;
}

.name{
    grid-area: n;
}

.location{
    grid-area: l;
}

.selectedPage{
    font-weight: bold;
    color: white;
}