.formsControlls.error input,
.formsControlls.error textarea{
    border: solid red 2px;
}

.formsControlls.error span{
    color: lightpink;
}
.Error{
    border: red 2px solid;
    padding: 5px;
    color: darkred;
    width: max-content;
}